<footer class="footer">
    <div class="container">
        <p class="text-muted">
            &copy; 2017
        </p>
    </div>
</footer>

<!-- JavaScripts -->
<script src="js/jquery.min.js"></script>
<script src="source/jquery.fancybox.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-51089412-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-51089412-1');
  // FancyBox
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>

</body>
</html>
