<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Shihab Mridha
        </p>
    </div>
</footer>

<!-- JavaScripts -->
<script src="js/jquery.min.js"></script>
<script src="source/jquery.fancybox.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

</body>
</html>