<% include header.ejs %>

<div class="jumbotron">
    <div class="container web-title nav-link">
        <h1>Instagram <br/>post image viewer !</h1>
        <a href="https://instagram-dp-view.herokuapp.com">View Profile Photo</a>
    </div>
</div>

<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- 404 ERROR -->
                <div class="the-alert alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4> Oh snap! You got an error! </h4>
                    <p>
                        It seems like you have entered a wrong link or ID. Please check it for us to work with !
                    </p>
                </div>

                <!-- Server Communication Error-->
                <div class="the-server-alert alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <h4> Oh snap! Server error! </h4>
                    <p>
                        It seems like we are having issues communicating with server. Please try again!
                    </p>
                </div>

                <form class="input-group input-group-lg" id="the-single-form" method="post">
                    <input type="text" class="form-control" id="post-url" name="post-url"  placeholder="Post url or post ID" autocomplete="off" required>
                    <div class="input-group-btn">
                        <input type="submit" name="submit" class="btn btn-lg btn-primary" value="View">
                    </div>
                </form>

                <div class="loader">Loading...</div>

                <div class="the-image">
                    <a class="fancybox" rel="group" href="">
                        <img class="img-responsive img-thumbnail" src="" alt="Instagram profile picture viewer.">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>


<% include footer.ejs %>